#headerBackground {
	z-index:0;

}

#blogLogo {
	z-index:1;
}

#bodyLeft {
	float:left;
	width: 40%;
	height: 500px;
	margin-left: 10%;
	border: 2px solid blue;
}

#bodyRight {
	float:right;
	width: 25%;
	height: 500px;
	margin-right: 10%;
	border: 2px solid blue;
}