header {
	position: absolute;
	background-image: url("images/header.jpg");
	width: 100%;
	height: 523px;
	float: top;
}

#blogLogo {
	z-index:1;
	position: absolute;
	margin-left: 10%;
	margin-top: 1%;
}

#blogTitle {
	float:left;
	position: relative;
	margin-left: 15%;
	margin-top: 2%;
	font-family: serif;
	font-family: 'PT Sans', sans-serif;
	/*font-family: 'Oswald', sans-serif;*/
	color: #083451;
	font-size: 15;
	z-index: 2;
}

#blogHead {
	position: relative;
	margin: 0px auto;
	margin-top: 200px;
	text-align:center;
	border: 2px solid blue;
	color: white;
	font-size: 5em;
	font-family: 'PT Sans', sans-serif;
}

#bodyLeft {
	float:left;
	width: 40%;
	height: 500px;
	margin-left: 10%;
	border: 2px solid blue;
	position:absolute;
	margin-top: 523px;
}

#bodyRight {
	float:right;
	width: 25%;
	height: 500px;
	margin-right: 10%;
	border: 2px solid blue;
	position: relative;
	margin-top: 523px;
}