body {
	font-family: 'Open Sans', sans-serif;
	font-family: 'Oswald';
}

#page {
	width: 1300px;
}

header {
	position: absolute;
	background-image: url("images/header.jpg");
	width: 100%;
	height: 523px;
	float: top;
}

a:hover {
	color:;
}

a:link {
	color:;
}

a:visited{
	color:;
}

#blogLogo {
	z-index:1;
	position: absolute;
	margin-left: 10%;
	margin-top: 1%;
}

#button1 {
	float:right;
	text-decoration: none;
	color: #083451;
	margin-right: 20px;
	margin-top: 2%;
	font-size: 17px;
	font-style: bold;
	font-family: 'Oswald' sans-serif;
}

#button2 {
	float:right;
	text-decoration: none;
	color: #083451;
	margin-right:12%;
	margin-top: 2%;
	font-size: 17px;
	font-style: bold;
	font-family: 'Oswald' sans-serif;
}

#blogTitle {
	float:left;
	position: relative;
	margin-left: 15%;
	margin-top: 2%;
	/*font-family: 'PT Sans', sans-serif;*/
	font-family: 'Oswald', sans-serif;
	color: #083451;
	font-size: 17px;
	z-index: 2;
	font-style: bold;
}

#blogHead {
	position: relative;
	margin: 0px auto;
	margin-top: 200px;
	text-align:center;
	/*border: 2px solid blue;*/
	color: white;
	text-shadow: #083451 .01em .01em .01em;
	font-size: 6em;
	font-family: 'PT Sans', sans-serif;
}

#headSub {
	text-align: center;
	color: #083451;
}

#bodyLeft {
	float:left;
	width: 50%;
	/*height: 500px;*/
	margin-left: 10%;
	/*border: 2px solid blue;*/
	position:absolute;
	margin-top: 523px;
	padding-top: 4%;
}

#fantHead {	
	font-family: 'Oswald' sans-serif;
	font-style: none;
	font-size: 3.65em;
	color: #0B3551;
}

#avatarSmall {
	height: 20px;
	width: 20px;
	padding-top: 0px;
}

p {
	text-align: left;
	font-family: 'PT Sans' sans-serif;
	color: #5E686F;
}

blockquote {
	border-left: 2px solid #D3D3D3;
	padding-left: 2%;
	padding-top: 1.5%;
	font-size: 1.75em;
	color: #196FB1;
	font-family: 'PT Sans' sans-serif;
}


#bodyRight {
	float:right;
	width: 25%;
	height: 500px;
	margin-right: 10%;
	border: 2px solid blue;
	position: relative;
	margin-top: 523px;
}

#avatarLarge {
	padding-top: 17%;
	margin: 0 auto;
}

#anneMarie {
	text-decoration: none;
	color: ;
	margin: auto 0;
}

.socMedLink {
	text-decoration: none;
}
